*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(187, 106, 106);
    font-family: serif;
}

.container {
    border: 2px solid rgb(134, 221, 47);
    color: rgb(1944, 194, 194);
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-width: 560px;
}
.calc{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    text-align: center;
}

section {
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}

.Num1{
    padding: 10px 30px;
    border-radius: 5px;
    border: 0;
    outline: none;
}
.Num2{
    padding: 10px 30px;
    border-radius: 5px;
    border: 0;
    outline: none;
}

#submit{
    padding: 15px 30px;
    background-color: rgb(133, 133, 133);
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 230px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#align {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-style: 20px;
}

p{
    margin-top: 15px;
    font-size: 26px;
    text-align: center;
}

.getResult button {
    border: 0;
    font-size: 30px;
    color: rgb(26, 255, 0);
    /* background-color: rgb(169, 255, 195); */
    padding: 5px 10px;
}
.submit{
    padding: 20px 20px;
}
