@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: #1137b6;
}
.container{
    width: 1140px;
    margin:  0 auto;
}
.box{
    margin-top: 200px;
    /* border: 2px solid red; */
    text-align: center;
    padding: 5px 5px;
}
h2{
    margin-top: 50px;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}
h3{
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 50px;
    color: aliceblue;
}

.same{
    margin-top: 50px;
    padding: 5px 10px;
}
.num,.num2{
    border-radius: 20px;
    border: none;
    padding: 10px 100px;
    margin-top: 20px;
    color: rgb(137, 255, 27);
}

.btn{
    font-size: 20px;
    color: chartreuse;
    margin-top: 29px;
    padding: 10px 20px;
}